.button {
    background-color: darkcyan;
    color: #FFF;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

.square {
    background-color: red;
    padding: 30px;
}

.legend {
    color: green;
}